/* settings for tags */
html {
  position: relative;
  min-height: 100%; }


body {
  background-color: #2c3e50;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #34495e;
  border-top: 1px solid;
  border-color: #d35400; }

h3 {
  color: #d35400;
  border-color: #d35400;
  font-size: 1em;
  margin-bottom: 1em; }

p {
    color: #d35400;
    border-color: #d35400;
    font-size: 1em;
    margin-bottom: 1em; }
  
.btn {
  background-color: inherit;
  color: #d35400;
  border-color: #d35400;
  text-align: center;
  font-size: 30px;
  border-radius: 25px;
  .btn:hover {
    background-color: #34495e;
    border-color: #d35400;
    color: #d35400; }
  }

.col-xs-6 {
  margin-bottom: 15px; 
}

.text {
  color: #d35400; }
  
  .text a {
    color: #d35400;
    text-decoration: underline; }

#header {
  border-radius: 25px;
  background: #9b6a6a	;
  padding: 20px;
  text-align: center;
}
#nyan {
  background-color: #2c3e50;
  color: #d35400;
  border-color: #d35400;
  border: 1px solid; 
}

