.button-clicked {
  background: red;
}

.button_global {
    width: 80px; 
    height: 45px;
    background: dimgray;
}

.button_global_warning {
  width: 80px; 
  height: 45px;
  background: rgb(141, 41, 41);
}