progress[value] {
    --w: 1040px; /* the width*/
    --color:  /* the progress color */
      linear-gradient(#fff8,#fff0),
      repeating-linear-gradient(135deg,#0003 0 10px,#0000 0 20px),
      /* if < 30% "red" */
      linear-gradient(red    0 0) 0 /calc(var(--w)*.30 - 100%) 1px,
      /* if < 60% "orange" */
      linear-gradient(orange 0 0) 0 /calc(var(--w)*.60 - 100%) 1px,
      /* else "green" */
      green;
    --background: dimgray; /* the background color */
  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
  }
  progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
  }
  
  label {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 20px 0;
  }
  